
.sidemenu a{
    text-decoration: none; color: rgb(255, 255, 255);
    width: 100%;
    display: block;
    padding: 10px;
}
.sidemenu a:hover{
    text-decoration: none; color: rgb(255, 255, 255);
    background-color: #435370;
    padding: 10px;
   
}


.space-y-1 li a:active,
.space-y-1 li.active a {
    background-color: #435370; /* Change this to your desired background color */
    color: #fff; /* Change this to your desired text color */
    /* Add other styles as needed */
}

.addbtn a {
    background-color: green;
    color: white;
    padding: 8px;
    margin-bottom: 13px;
    text-decoration: none;
}

.addbtn a:hover {
    background-color: green;
    color: rgb(0, 0, 0);
    padding: 8px;
    margin-bottom: 13px;
    text-decoration: none;
}

.editbtn a {
    text-decoration: none;
    color: rgb(0, 0, 0);

}

.editbtn a:hover {
    text-decoration: none;
    color: rgb(0, 115, 255);

}