{% extends "dashboard.html" %}

{% block title %}
    Employee
{% endblock title %}

{% block content %}




    <main class="p-4 md:ml-64 h-auto pt-10 min-h-screen bg-gray-50 dark:bg-gray-900">
        <section class="bg-gray dark:bg-gray-900">
            <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
               
               <div class="addbtn">
              <a href="{% url 'Employee:employee_add'%}"> Add Employee </a>
                
            
               </div>
                
              <div style="  margin-top: 25px;">
                <table id="example" class="display nowrap" style="margin-top: 40px;">
                    <thead>
                        <tr>
                            <th> ID </th>
                            <th> Name </th>
                            <th> Father's Name </th>
                            <th> Mobile No. </th>
                            <th> Dasignation </th>
                            <th> Category </th>
                            <th> Salary </th>
                            <th> Zone Location </th>
                            <th> Work Location </th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                     
         {% for ele in employee_list %}
                        <tr>
                            <td> {{ ele.id }}</td>
                            <td> {{ele.emp_name}}  </td>
                            <td> {{ele.emp_father_name}}</td>
                            <td> {{ele.emp_mobile_no}}</td>
                            <td> </td>
                            <td> {{ele.emp_category_id}}</td>
                            <td> {{ele.emp_salary_ctc}} </td>
                            <td> {{ele.emp_zone_loation_id}}</td>
                            <td> {{ele.emp_work_location_id}}</td>
                            <td class="editbtn"> 
                              
                                <a href="{% url 'Employee:employee_edit' pk=ele.pk %}">Edit</a>
                               
                            </td>
                          
                        </tr>
                      

                        {% endfor %}
                        <!-- Add more rows as needed -->
                    </tbody>
                </table>
              </div>
                
              

            
        </section>
    </main>

<script>
        
    $(document).ready(function() {
        $('#example').DataTable( {
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        } );
    } );

    </script>

    
{% endblock content %}
